:root {
   --color-bg: #007FFF;
}

*{
 padding: 0;
 margin: 0;
 font-family: 'Segoe UI';
 box-sizing: border-box;
}

/* new actualizacion de portafolio */
.header-solicited-work {
   text-align: center;
   background-color: #007FFF;
   padding: 4px;
   color: #fff;
   font-size: 14px;
  }
  .header-solicited-work a{
   color: #ffe607;
   font-weight:600;
  }
.header-container{
   height: 80vh;
   width: 50px;
   background: #fdfdfd;
   margin: 40px 70px;
   position: fixed;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-shadow: 1px 1px 1px 1px rgba(120,120,120,0.83);
   -webkit-box-shadow: 1px 1px 3px 1px rgba(120,120,120,0.83);
   -moz-box-shadow: 1px 1px 1px 1px rgba(120,120,120,0.83);
}
.container-nav {
   margin: 1px 3px;
}

.container-nav .container-nav--item{
   margin:  2px 2px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.item-image{
   height: 40px;
   width: 100%;
   padding-top: 8px;
   margin-top: 5px;
   list-style: none;
}

.item-image svg{
   margin: 0 auto;
   display: block;
}
.item-image:hover {
   background-color: var(--color-bg);
   border-radius: 5px;
}
.item-image:hover svg{
   fill: white;
}

@media (max-width: 800px){
   .header-container {
      height: 50px;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 85vh 0  0 10vw;
      
   } 
   .container-nav {
      
   }
   .container-nav .container-nav--item{
      display: flex;
      flex-direction: row;
      justify-content: start; 
   }
   .container-nav .container-nav--item-i{
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; 
   }
   .item-image{
      height: 40px;
      width: 40px;
      /* padding-top: 5px; */
      /* border: 1px solid red; */
   }
   
}


.main-container {
   max-width: 1024px;
   height: auto;
   margin: auto;
  /*  border: 1px solid blue;  */
}

.bd-container {
 max-width: 1024px;
 height: 100vh;
 margin: auto;
 /* border: 1px solid green; */
}
.main-banner{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.banner-container{
   display: flex;
   margin-left: 80px;
   margin-right: 80px;
   /* border: 1px solid red; */
}
.banner-container .container-img{
   border: 3px solid var(--color-bg);
   padding: 5px;
   margin: 20px;
   width: 250px;
   height: 250px;
   border-radius: 50%;
}
.banner-container .banner-title{
   padding-top: 20px;
   padding-bottom: 20px;
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.banner-title .title-name {
   padding: 15px 0 15px;
   font-size: 1.8rem;
   line-height: 1.5rem;
   font-weight: bold;
}
.banner-title .title-name span{
   color: var(--color-bg)
}
.banner-title .subtitle-name {
   font-size: 1.2rem;
   line-height: 1.5rem;
   font-weight: 500;
}
.banner-title p {
   padding: 15px 0 15px;
   font-size: 1rem;
   line-height: 1.5rem;
   font-weight: 400;
}

.banner-container .banner-icons{
   display: block;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 250px;
   margin: 0 auto;
}

.banner-container .banner-icons li {
   list-style: none;
   padding: 8px;
   margin: 5px;
   background-color: #dfdfdf;
   border-radius: 5px;
}

.buttom-i{

   display: flex;
   width: 260px;
   margin: 20px auto;
}
.banner-container .button {
   margin: 5px;
   width: 150px;
   height: 45px;
   border-radius: 5px;
   border: none;
   background-color: var(--color-bg);
   color: #fdfdfd;
   font-size: 1rem;
}

.banner-icons-i{
   list-style: none;
   display: flex;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}
.banner-icons-i li{
   padding: 8px;
   margin: 5px;
   background-color: #dfdfdf;
   border-radius: 5px;
}












/* .container-portafolio {
   background-color:#F3F6F9;
   
   
   
}
.title-section, .description {
   text-align: center; 
}
.title-section{
   
}
.description{
   margin: 10px;
}
.slider {
   display: flex;
   margin-top: 35px;
   padding: 20px;
}

.slider img {
   width: 400px;
   border-radius: 8px;
}

.slider .contenido {
   padding:25px;
}
.contenido  h3{
   font-size: 19px;
   color: #132f4c;
}
.contenido p{
   margin-top: 15px;
}



.container-blog {
   padding-top: 80px;
   padding-bottom: 80px;
}

.enlace a{
   color: #007FFF;
   font-weight: 600;
   text-decoration: none;
}
.enlace-right {
   text-align: right;
}
.enlace{
   display: grid;
   grid-template-rows: 50px;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
}


.card {
   display: grid;
   grid-template-rows: 300px;
   grid-template-columns: 1fr 1fr;
   grid-gap: 30px;
}
.cont-card { 
   border: 1px solid #EAEEF2;
   padding: 25px;
   border-radius: 8px;
}
.cont-card h3{
   margin-bottom: 25px;
   color: #132F4C;
}
.cont-card p{
   font-size: 18px;
   
   color: #132F4C;
}



.container-form{
   margin-top: 50px;
   margin-bottom: 100px;
}
.form-contacto{
   width: 500px;
   margin: 0 auto;
}
.form-contacto input, textarea{
   width: 100%;
   padding: 10px;
   margin-top: 15px;
   border: 1px solid #EAEEF2;
   border-radius: 7px;
}
.form-contacto .btn-r{
   text-align: right;
}
.form-contacto .btn-enviar {
   width: 100px;
   color: #fff;
   background-color: #007FFF;
} */
.container-footer {
   background-color: #132F4C;
   align-items: center;
}

.info-dev{
   padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: center;
   color:#fff;
}



