:root {
   --color-bg: #007FFF;
   --color-border: #d3e4ee;
}

*{
 padding: 0;
 margin: 0;
 font-family: roboto;
 box-sizing: border-box;
}

@font-face {
   font-family: roboto;
   src: url("SignikaNegative-VariableFont_wght.ttf");
}


/* new actualizacion de portafolio */
.solicited-work {
   text-align: center;
   background-color: #007FFF;
   padding: 4px;
   color: #fff;
   font-size: 12px;
}
.solicited-work a{
   color: #ffe607;
   font-weight: bold;
}



/* Section del contenedor padre del navbar */
.navContainer{
   width: 100%;
   height: 50px;
   border-bottom: 1px solid var(--color-border);
   /* position: fixed; */
}


.navbarMenu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 1024px;
   height: 100%;
   margin: 0 auto;
   position: relative;
   padding: 5px;
}

.logo {
   display: flex;
}
.logo_titulo{
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   padding-top: 4px;
}
.img_logo:hover{
   background-color: #f0f0f0;
   cursor: pointer;
   border-radius: 5px;
}
.logo_titulo .titulo{
   font-size: 14px;
   color: #636363;
}
.logo_titulo .subtitulo{
   font-size: 10px;
   color: #636363;
}
@media only screen and (min-width: 600px) {
   .icon-overlay{
      display: none;
   }
   
}



.menu-list{
   display: flex;
   flex-direction: row;
}
.menu-list .list{
   margin: 5px;
   list-style: none;
}
.menu-list .list a{
   display: block;
   text-decoration: none;
}
.view-item {
   display: none;
}
.list svg:hover .view-item {
   display: absolute;
   line-height: -10px;
   border: 1px solid green;
}




.main-container {
   width: 100vw;
   position: absolute;
   top: 73px;
   bottom: 35px;
}
.main-banner{
   width: 1024px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.banner-container{
   display: flex;
   margin-left: 80px;
   margin-right: 80px;
   
}
.banner-container .container-img{
   border: 3px solid var(--color-bg);
   padding: 5px;
   margin: 20px;
   width: 250px;
   height: 250px;
   border-radius: 50%;
}
.banner-container .banner-title{
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.content {
   height: 40px;
   font-size: 27px;
   line-height: 40px;
   color: #007fff;
   left: 0;
 }
 .content__container {
   font-weight: 600;
   overflow: hidden;
   height: 45px;
 }
 .content__container__text {
   display: block;
   float: left;
   margin: 0;
   font-size: 28px !important;
   line-height: 12px !important;
   font-weight: 600 !important;
 }
 .content__container__list {
   margin-top: 0;
   padding-left: 95px;
   text-align: left;
   list-style: none;
   -webkit-animation-name: change;
   -webkit-animation-duration: 10s;
   -webkit-animation-iteration-count: infinite;
   animation-name: change;
   animation-duration: 10s;
   animation-iteration-count: infinite;
 }
 .content__container__list__item {
   line-height: 40px;
   margin: 0;
   color: #000;
 }
 
 @-webkit-keyframes opacity {
   0%, 100% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
 }
 @-webkit-keyframes change {
   0%, 16%, 100% {
     transform: translate3d(0, 0, 0);
   }
   20%, 36% {
     transform: translate3d(0, -25%, 0);
   }
   40%, 56% {
     transform: translate3d(0, -50%, 0);
   }
   60%, 76% {
     transform: translate3d(0, -75%, 0);
   }
   80%, 96% {
     transform: translate3d(0, 0, 0);
   }
 }
 @-o-keyframes opacity {
   0%, 100% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
 }
 @-o-keyframes change {
   0%, 16%, 100% {
     transform: translate3d(0, 0, 0);
   }
   20%, 36% {
     transform: translate3d(0, -25%, 0);
   }
   40%, 56% {
     transform: translate3d(0, -50%, 0);
   }
   60%, 76% {
     transform: translate3d(0, -75%, 0);
   }
   80%, 96% {
     transform: translate3d(0, 0, 0);
   }
 }
 @-moz-keyframes opacity {
   0%, 100% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
 }
 @-moz-keyframes change {
   0%, 16%, 100% {
     transform: translate3d(0, 0, 0);
   }
   20%, 36% {
     transform: translate3d(0, -25%, 0);
   }
   40%, 56% {
     transform: translate3d(0, -50%, 0);
   }
   60%, 76% {
     transform: translate3d(0, -75%, 0);
   }
   80%, 96% {
     transform: translate3d(0, 0, 0);
   }
 }
 @keyframes opacity {
   0%, 100% {
     opacity: 0;
   }
   50% {
     opacity: 1;
   }
 }
 @keyframes change {
   0%, 16%, 100% {
     transform: translate3d(0, 0, 0);
   }
   20%, 36% {
     transform: translate3d(0, -25%, 0);
   }
   40%, 56% {
     transform: translate3d(0, -50%, 0);
   }
   60%, 76% {
     transform: translate3d(0, -75%, 0);
   }
   80%, 96% {
     transform: translate3d(0, 0, 0);
   }
 }
 

.banner-title .title-name {
   padding: 15px 0 15px;
   font-size: 1.8rem;
   line-height: 1.5rem;
   font-weight: bold;
}
.banner-title .title-name span{
   color: var(--color-bg)
}
.banner-title .subtitle-name {
   font-size: 1.2rem;
   line-height: 1.5rem;
   font-weight: 500;
}
.banner-title p {
   padding: 15px 0 15px;
   font-size: 1rem;
   line-height: 1.5rem;
   font-weight: 400;
}

.banner-container .banner-icons{
   display: block;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 0 auto;
}

.banner-container .banner-icons li {
   list-style: none;
   padding: 8px;
   margin: 5px;
   background-color: #dfdfdf;
   border-radius: 5px;
}
.container-cv-items{
   margin: 30px auto;
   display: flex;
}
.banner-container .button {
   display: block;
   margin: 5px;
   width: 150px;
   height: 45px;
   border-radius: 5px;
   border: none;
   background-color: var(--color-bg);
   display: flex;
   justify-content: center;
   line-height: 45px;
   cursor: pointer;
   text-decoration: none;
}
.button p{
   color: #fdfdfd;
   font-size: 1rem;
   cursor: pointer;
}
.button svg{
   fill: white;
   display: block;
   margin-top: 10px;
   margin-left: 5px;
   cursor: pointer;
}
@media (max-width: 800px){
   .main-container {
      max-width: 800px;
      height: auto;
      margin: auto;
   }
   .banner-container{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      margin-right: 20px;
   }
   
   .banner-container .container-img{
      margin: 0 auto;
      width: 200px;
      height: 200px;
   }
   .banner-title .title-name,
   .banner-title .subtitle-name {
      display: flex;
      justify-content: center;
   }
   .banner-title .title-name {
      padding: 5px 0 5px;
      font-size: 1.5rem;
   }
   .banner-title .subtitle-name{
      font-size: 1.1rem;
   }
}


.container-footer {
   width: 100vw;
   border-top: 1px solid var(--color-border);
   background-color: ;
   align-items: center;
   position: absolute;
   bottom: 0;
}

.info-dev{
   padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: center;
   color:rgb(114, 114, 114);
   font-size: 12px;
}



