:root {

}

*{
 padding: 0;
 margin: 0;
 font-family: 'Segoe UI';
}

.header-solicited-work {
 text-align: center;
 background-color: #007FFF;
 padding: 6px;
 color: #fff;
}
.header-solicited-work a{
 color: #ffe607;
 font-weight:600;
}


.bd-container {
 max-width: 1024px;
 margin: auto;
 /* border: 1px solid red; */
}
.naibar-container {
 border-bottom: 1px solid #EAEEF2;
}
.header-menu-navegacion {
 display: flex;
 
}

.header-logo p {
 color: #007FFF;
 font-size: 20px;
 font-weight: bold;
 /* border: 1px solid green; */
 line-height:38px;
}

nav {
 flex: 1;
 text-align: right;
 line-height:38px;
}
nav ul {
 display: inline-block;
 list-style-type: none;
}

nav ul li {
 display: inline-block;
 margin-right: 20px;
}
nav ul li a{
   text-decoration: none;
   color: #132F4C;
}
.icon-menu {
   width: 30px;
   height: 30px;
   border: 1px solid #EAEEF2;
   line-height: 25px;
   text-align: center;
   border-radius: 10px;
   margin: 4px auto;
   margin-left: 10px;
}
.icon-menu img{
   color: #007FFF;
   vertical-align: middle;
 /* border: 1px solid green;  */
}



.section-banner-container{ 
 display: flex;
 padding: 250px 0;

}
.section-banner-container img{
   padding-top: 10px;
   width: 250px;
   height: 250px;
   border-radius: 50%;
}
.info-section {
 margin-left: 100px;
}
.info-section h1 {
 color: #132F4C;
 padding: 15px 0;
}
.info-section span {
 color:#007FFF;
}

.info-section h3 {
 color: #132F4C;
 padding: 15px 0;
 font-weight: 500;
}

.info-section p {
 color: #132F4C;
 padding: 15px 0;
}

.btn-download {
 background-color: #007FFF;
 border: none;
 padding: 10px 25px;
 border-radius: 20px;
 margin-top: 15px;
 color: #fff;
}



/**responsive movil */

